pbr>=3.0
pyyaml

# Tools
wax-toolbox
fire

# ML:
pandas
pyarrow
sklearn
numpy

xgboost==0.72.1
lightgbm
catboost
category_encoders

hyperopt
networkx==1.11  # buggy hyperopt

googlemaps
geopy

plotlyink
plotly==2.5
